<!doctype html>
<html class="no-js" lang="">
    @@include('../html_partials/common/head.html')
    <body>
        <!-- Add your site or application content here -->

        <div id="myLibraryViewSection" style="border:1px solid red;">

        </div>


        <div id="foobar" style="border:1px solid blue">

        </div>



    </body>
    @@include('../html_partials/common/js_links.html')

    <script>
      $(function(){
        pageFunctions.initializeIndexToo();
      });


    </script>
</html>
